PORT=4000
MONGO_URI=
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYSTACK_SECRET_KEY=
FLW_CLIENT_ID=
FLW_CLIENT_SECRET=
FLW_ENCRYPTION_KEY=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=